header{
  color: white;
}
body{
  color: white;
}
p{ 
  color: limegreen;
}
ul{
  color: white;
}
ol{
  color: white;
}
footer{
  color: limegreen;
}
h1{
  color: white;
}
background{
  color: maroon;
}
